body {
    background-image: url('dawid-zawila--G3rw6Y02D0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Fixes the background image */
    background-position: center; /* Optional: Centers the background image */
    margin: 0;
  }
  
.footer {
    background-color: #131313;
    color: #ffffff;
    padding: 20px;
    
    text-align: center;
    
  }
  
  .social-icons {
    margin-bottom: 20px;
  }
  
  .social-icon {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-text {
    font-size: 14px;
  }
  